
* {
  padding: 0;
  margin: 0;
  font-family: 'Oxygen', sans-serif;
}

a {
  color: white;
}

h2 {
  color: white;
}

input[placeholder] {
  //Texto cuando se escribe
  color: white;
}

li>img {
  padding-bottom: 10%;
}

nav {
  padding: 20px 60px 20px 40px;
}

p {
  color: white;
}

span>img {
  align-content: left;
}

.logo-kitapa{

	padding: 0;
}


.firstsection {
  background-image: url("../assets/images/cool.jpg");
  height: 90vh;
  background-position-y: top;
  background-position-x: center;
  background-size: cover;
  width: 100%;
  padding: 0;
  margin-top: 6%;
  margin-right: 0;
  color: #FFFFFF;
}

.firstsection>.row>.col-lg-4 {
  background-color: rgba(37,33,95,0.7);
  margin-top: 20vh;
  padding: 2%;
}

.firstsection>.row>.col-xs-4 {
  background-color: rgba(37,33,95,0.5);
  margin-top: 20vh;
  padding: 2%;
}


.logo_B {
  width:100%;
  height: 30vh;
}

.header{
	background-color: #FFFFFF;
}

.div-logo{
	width: 30%;
	padding: 0;
	margin: 0 0 2% 2%;
}

.copyright{
	background-color: #5f54f2;
}

.description{
	color: #FFFFFF;
	background-color: rgba(37,33,95,0.5);
    margin-top: 20vh;
    padding: 2%;
}

.carousel {
	width: 100%;
}

.slide {
	width: 100%;
}



.carousel-caption{
	width: 100vh;
}

.description_about{
	color: #FFFFFF;
	background-color: #5f54f2;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 5%;
}

.div-logo-about{
	width: 30%;
	padding: 0;
	margin: 10% 0 0 5%;
}












form > p {
   color: black;
 }

 form > p > a {
   color: #FF1F1F;
 }

 .input-group .form-control:lastchild{
   border-radius: 5px;
 }

 .modal1 {
   background-color: #FFC107;
   color: white;
   margin: 5%;
   margin-left: 35%;
 }

 .modal-content {
   background-color: #DDDDDD;
 }

 .modal-header > img {
   width:40%;
 }

 .well{
   width: 60%;
   margin: 10%;
   margin-left: 20%;
 }

 .well > form > .form-group > input{
   background-color: #cbccc9;
   border-radius: 5px;
 }

/* Modal Registro */
.btncnt{
  background-color: black;
  border-radius: 8px;
  color: white;
  padding: 2%;
  width: 100%;
}

.btnmenu{
  background-color: #DDDDDD;
  color: black;
  width: 100%;
  padding-right: 12%;
}

.caret{
  margin:4%;
}

.iname, .ilastnm {
  margin: 2% 2% 2% 0;
  border-radius: 5px;
}

.modal2{
  background-color: #5BC0DE;
  color: white;
  width: 100%;
}

.modalreg{
  background: none;
  border: none;
  box-shadow: none;
}

.otherinpt > input{
  margin: 2% 0;
}

.sec1reg{
  width: 100%;
  margin: 0;
}

.sec2reg , .sec3reg{
  display: inline-block;
  margin: 0;
  margin-left: 0.2%;
  width: 49%;
}

.textm2{
  color: grey;
  font-size: 12px;
  margin-top: 2%;
}

.wreg{
   background-color: #A9A9A9;
 }

/* Modal conductor */
#carnmb{
  background-color: grey;
  font-size: 16px;
  font-weight: 700;
}
.modal3{
  color: black;
}

.modalbox3 {
  padding: 6%;
  font-size: 16px;
  background-color: #a8a8a8;
}

.modal3 > p {
  color: black;
  font-size: 16px;
  font-weight: 700;
}
 .modal3 > select {
   background: grey;
   color: white;
 }

 .modal3 > .note {
   color: lightgrey;
   font-size: 10px;
 }

 .note > a{
   color: blue;
 }

 /* View Profile */

 /* Nav */

 .animate {
   -webkit-transition: all 0.5s ease-in-out;
   -moz-transition: all 0.5s ease-in-out;
   -o-transition: all 0.5s ease-in-out;
   -ms-transition: all 0.5s ease-in-out;
   transition: all 0.5s ease-in-out;
 }

 .nav-controller {
   /*botón que despliega el menú*/
   float: left;
   top: 15px;
   left: 15px;
   padding: 5px 6px 1px;
   border: 2px solid rgb(51, 51, 51);
   color: rgb(51, 51, 51);
   border-radius: 25px;
   font-size: 12pt;
   cursor: pointer;
   z-index: 300;
   margin-top: 8%;
   margin-bottom: 2%;
 }

 #userprofile~.nav-controller>.controller-open {
   display: inline-block;
 }

 #userprofile~.navcomplete>div>.navbar-header>.nav-controller>.controller-close {
   display: none;
 }

 #userprofile.focus~.navcomplete>div>.nav-controller>.controller-open {
   display: none;
 }

 #userprofile.focus~.navcomplete>div>.nav-controller>.controller-close {
   display: inline-block;
 }

 #userprofile {
   position: fixed;
   top: 10%;
   left: -80%;
   padding-top: 65px;
   padding-bottom: 15px;
   height: 100%;
   max-width: 200px;
   text-align: right;
   background-color: rgb(255, 255, 255);
   box-shadow: -3px 0px 3px 0px rgba(160, 160, 160, 0.30);
   z-index: 100;
   overflow: auto;
 }

 #userprofile.focus {
   left: 0px;
 }

 #userprofile>.divider {
   content: '';
   border-bottom: 1px solid rgb(230, 230, 230);
   max-height: 1px;
   overflow: hidden;
   margin: 15px 0px;
 }

 #userprofile>h4, #userprofile>p, #userprofile>ul {
   padding: 0px 10px;
 }

 #userprofile>h4 {
   font-family: 'Anton', sans-serif;
 }

 #userprofile>ul {
   list-style: none;
 }

 #userprofile>ul>li {
   margin: 5px 0px;
 }

 #userprofile>ul>li>a {
   color: rgb(190, 190, 190);
 }

 #userprofile>ul>li>a:hover {
   font-size: 1.1em;
   font-weight: 700;
   color: rgb(51, 51, 51);
   text-decoration: none;
   background-color: #FFFFFF;
 }

 .brand {
   float: left;
 }

 .logo_N {
   float: left;
   height: 5vh;
   margin-left: 15%;
   margin-top: 10%;
   margin-bottom: 5%;
 }

 .navcomplete {
   padding: 0;
   background-color: #4392E8;
 }

 #iconsmenu {
   float: right;
 }

 #search {
   float: right;
 }

 /* Lista de Usuarios */

 .user-row {
   margin-bottom: 14px;
 }

 .user-row:last-child {
   margin-bottom: 0;
 }

 .dropdown-user {
   margin: 5px 0;
   padding: 5px;
   height: 100%;
 }

 .dropdown-user:hover {
   cursor: pointer;
 }

 .table-user-information>tbody>tr {
   border-top: 1px solid rgb(221, 221, 221);
 }

 .table-user-information>tbody>tr:first-child {
   border-top: 0;
 }

 .table-user-information>tbody>tr>td {
   border-top: 0;
 }

 .well {
   background-color: #068DD1;
 }

 .text-muted {
   color: white;
 }

 .media-heading {
   color: #222E50;
 }
  #btnsend{
    float: right;
  }
